name: Auto Deploy NeuroHelix

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Configure Git
        run: |
          git config --global user.email "you@example.com"
          git config --global user.name "GitHub Actions"

      - name: Set Remote with Token
        run: |
          git remote set-url origin https://x-access-token:${{ secrets.GH_PAT }}@github.com/lifecodeproject/livecodeproject.github.io.git

      - name: Push changes
        run: |
          git push origin main
git remote set-url origin https://x-access-token:${{ secrets.GH_PAT }}@github.com/lifecodeproject/livecodeproject.git
